.body {
    margin: 0;
}
  
 ul a {
    text-decoration: none;
    color: black;
    }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 8px 12px;
}

.nav_logo {
    display: flex;
    font-size: 24px;
    color: black;
}

div img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 10px;
}
  
  .nav_menu li {
    padding: 10px 12px;
    margin: 10px;
}
  
  .nav_menu li:hover {
    color: cornflowerblue;
    background-color: chocolate;
    border-radius: 4px;}

